@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;0,900;1,300&family=Noto+Sans:wght@300&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,400&display=swap');

/* stye taken from transaction from transactions */

.terms {
    width:100%;
    padding:6rem 1rem;
   background-color: #0f0e13;
   background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.card-container{
    max-width:1140px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:40px;
    color:white;   
}

.card{
    border: 1px solid;
    border-color:linear-gradient(90.17deg, #7FE786 7.42%, #58A7FE 93.62%);    
    border-radius:20px;
    color:#eee;
    text-align:center;
    padding:1rem;
}

.card:hover {
    background:hsl(1,1%,1%);
}
.card h4{    
   
    font-size:1.4rem;
    padding:1rem;
    
    
}



.det {
    padding:5px 0;
    font-style:Noto Sans;
    font-weight:200;
}

.bar{
    border-bottom:1px solid #eee;
    width:50%;    
    margin:0.5rem auto;
    display:block;
}

.btc{
    font-size :3rem;
    font-weight:600;
    padding:0.5rem 0;
    font-style:Noto Sans;
    background-color: linear-gradient(90.17deg, #7FE786 7.42%, #58A7FE 93.62%);

  /* background-image:linear-gradient(90.17deg, #7FE786 7.42%, #58A7FE 93.62%) ;
  background: linear-gradient(90.17deg, rgba(47, 128, 237, 0.8) 7.42%, #58FEC0 93.62%); */
  background: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



@media screen and (max-width:740px){
    .card-container{
    max-width:90%;
    margin:auto;    
    grid-template-columns:1fr;
    grid-gap:40px;
    
    }
}